/*--------General---------*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	background: #f4f0eb;
}
nav {
	position: fixed;
	z-index: 999;
}
a {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: #000000;
	transition: color 0.3s ease;
}
a:hover {
	color: #f4f4f4;
}

/*--------Menu---------*/

#menuToggle {
	display: block;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 999;
	-webkit-user-select: none;
	user-select: none;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #fa8669;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
	transform-origin: 0% 0%;
	pointer-events: none;
}
#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}
#menu {
	position: fixeds;
	width: 16vw;
	height: 100vh;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	background-color: #fa8669;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	overflow: hidden;
	z-index: 0;
	pointer-events: none;
}
#menu li {
	padding: 10px 0;
	font-size: 22px;
	pointer-events: all;
}
#menuToggle input:checked ~ ul {
	transform: scale(1, 1);
	opacity: 1;
}

/*--------Main---------*/
main {
	background-image: url("https://images.pexels.com/photos/3803240/pexels-photo-3803240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	z-index: -2;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(231, 184, 173, 0.15);
	z-index: 0;
	pointer-events: none;
}

.main-content {
	z-index: 1;
}

.main-content p {
	color: white;
	font-size: 1.8rem;
	font-family: "Montserrat";
	font-weight: 500;
	margin-bottom: 1rem;
	margin-right: 4rem;
}

h1 {
	color: #fef1ee;
	font-size: 3rem;
	text-transform: uppercase;
	font-family: "Montserrat";
}

.btn {
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: #f4f4f4;
	padding: 8px 25px;
	background-color: #fa8669;
	border-color: #fa8669;
	border-style: solid;
	border-radius: 35px;
	cursor: pointer;
}

.btn:hover {
	background-color: #fef1ee;
	border-color: #fef1ee;
	color: #fa8669;
}

/*--------Features & about Section---------*/
.features {
	background-color: #fa8669;
	padding: 6rem 0 6rem 0;
}

.title-feature {
	font-size: 3.2rem;
	letter-spacing: 0.1rem;
	font-weight: 900;
	color: #fef1ee;
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.features-subtitle {
	color: #cecece;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.features p {
	color: white;
	font-family: "Montserrat";
	font-size: 1.1rem;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 3rem 0 5.5rem 0;
}

.about-img {
	width: 500px;
	height: 260px;
}

.grid-3 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.center {
	display: grid;
	text-align: center;
	margin: auto;
}

.bg-light {
	background: #f4f0eb;
	color: #222326;
}

.bg-dark {
	background: #222326;
	color: #f4f0eb;
}

.title-about {
	color: #222326;
	font-size: 3.2rem;
	font-weight: 900;
	letter-spacing: 0.1rem;
	color: #fa8669;
	padding-bottom: 2rem;
}

.text-about {
	font-family: "Roboto";
	font-size: 16px;
	color: #454545;
	text-align: start;
	padding-left: 3rem;
}

/*--------Team Section---------*/

.team-section {
	background-color: #89bfd2;
	padding: 0 0 2rem 0;
}

.team {
	list-style: none;
	padding: 0;
	margin: 100px 0;
	display: flex;
	justify-content: space-evenly;
}

.team-title {
	font-size: 3.2rem;
	font-weight: 900;
	letter-spacing: 0.1rem;
	color: #f4f0eb;
	padding: 5rem 3rem 0rem 5rem;
	display: flex;
	justify-content: center;
}

.team .pic-profile {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.team > li {
	background: #f4f0eb;
	border: 1px solid rgba(150, 150, 150, 0.29);
	-moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
	box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
	width: 300px;
	height: 400px;
	display: inline-block;
	margin: 0 20px;
	text-align: center;
}
.team > li img {
	margin-top: -5px;
}
.team > li:hover img {
	margin-top: 30px;
}
.team > li img.more-about {
	left: 125px;
	padding: 1px;
	position: absolute;
	width: 45px;
	z-index: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	bottom: 50px;
}

.team > li h3 {
	color: #222326;
}
.team > li:hover {
	-moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}
.team > li:hover span {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	top: -100px;
	background: #fa8669;
}
.team > li:hover span p {
	color: #222326;
	font-size: 14px;
	font-weight: 500;
}

.team > li span .text-wrapper {
	opacity: 0;
}
.team > li:hover span .text-wrapper {
	bottom: 2rem;
	left: calc(50% - 200px);
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 200px;
	opacity: 1;
}

.team .bio-member {
	padding: 2rem 0 1rem 0;
}

.team > li:hover .social {
	margin-top: 250px;
}
.team > li:hover .wrapper > img {
	display: none;
}
.team > li:hover h3 {
	color: #222326;
	margin-top: -140px;
}
.team > li .wrapper {
	overflow: hidden;
	position: absolute;
	width: 300px;
	height: 400px;
}

.team > li span {
	display: block;
	height: 400px;
	left: -125px;
	position: absolute;
	top: -490px;
	width: 500px;
	background: #fa8669;
}

.team > li h3 em {
	display: block;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	margin-top: 5px;
	color: #fa8669;
}

.team .bio p {
	text-align: center;
	align-content: center;
}
.team .social {
	list-style: none;
	text-align: center;
	margin: 40px 0 0 0;
	padding: 10px;
}
.team .social li {
	opacity: 0;
	display: inline-block;
	padding: 5px;
}
.team > li:hover .social li {
	opacity: 0.5;
}
.team .social li a {
	cursor: pointer;
	display: block;
}
.team .social li a:hover {
	opacity: 0.5;
}
.team .social li img {
	width: 24px;
}
.team > li:hover .social li a {
	-webkit-animation: social-show 0.5s 1;
	-moz-animation: social-show 0.5s 1;
	-o-animation: social-show 0.5s 1;
	animation: social-show 0.5s 1;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
.team .social li img {
	width: 24px;
}
@-webkit-keyframes social-show {
	from {
		margin-top: 140px;
	}
	to {
		margin-top: 0px;
	}
}
@-moz-keyframes social-show {
	from {
		margin-top: 140px;
	}
	to {
		margin-top: 0px;
	}
}
@-o-keyframes social-show {
	from {
		margin-top: 140px;
	}
	to {
		margin-top: 0px;
	}
}
@keyframes social-show {
	from {
		margin-top: 140px;
	}
	to {
		margin-top: 0px;
	}
}

/*--------Footer---------*/
footer {
	padding: 2.2rem;
	background-color: #f4f0eb;
}

footer p {
	font-family: "Monserrat", sans-serif;
	font-weight: 900;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	margin: 0;
	color: #fa8669;
}

/*--------Responsive---------*/
@media (max-width: 560px) {
	.grid-3,
	.grid-2 {
		grid-template-columns: 1fr;
	}

	.services div {
		border-bottom: #333 dashed 1px;
		padding: 1.2rem 1rem;
	}
}
